*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root, body{
    width: 900px;
    height: 700px;
    overflow: hidden;
}
.container{
    height: 700px;
    display: flex;
    overflow: auto;
}
.wrapper{
    width: calc(100% - 100px);
    height:fit-content;
    position: relative;
    background-color: #EDEDED;
    overflow: hidden;
}
.datetime{
    width: 100px;
    z-index: 2;
}
.text{
    text-align: center;
    font-size: 10px;
}

